<form class="container" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="row mt-3">
    <div class="col-md-12">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Name"
        id="name"
      />
    </div>
    <div class="col-md-12">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Email"
        id="email"
      />
    </div>
  </div>
  <div class="mt-5 text-center">
    <button class="btn btn-primary profile-button" type="submit">
      Save Profile
    </button>
  </div>
</form>
