<form class="container" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <h4 class="header-message">Edit profile</h4>
  <div class="sub-container">
    <div class="field">
      <label class="field-label" for="name">Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Name"
        id="name"
      />
    </div>
    <div class="field">
      <label class="field-label" for="email">Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Email"
        id="email"
      />
    </div>
    <div class="btn-container">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button class="btn btn-primary" type="submit">Save Profile</button>
    </div>
  </div>
</form>
