@import '../../variables';

$font-size: 10rem;

// @media screen and (max-width: 536px) {
//   $font-size: 20px;
// }

.header{
  font-size: 0.5 * $font-size;
  text-align: center;
  margin-top: 0.5 * $font-size;
  margin-left: auto;
  margin-right: auto;
}

.header span,
label span {
  color: $primary;
}

.not-found {
  text-align: center;
  min-width: 290px;
  margin-top: 0.5 * $font-size;
  margin-left: auto;
  margin-right: auto;
}

.four {
  font-size: $font-size;
  padding: 5px;
}

.spinner-border {
  width: 0.5 * $font-size;
  height: 0.5 * $font-size;
}

label{
  width: 100%;
  font-size: 0.2 * $font-size;
  text-align: center;
  margin-bottom: 0.5 * $font-size;
}

footer {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
