<div class="container" [formGroup]="formulario">
  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      [ngClass]="aplicaCssErro('email')"
      id="email"
      formControlName="email"
      placeholder="Email"
    />
    <label for="email" class="form-label">Email</label>
    <div *ngIf="isValid; else emailFeedback"></div>
    <ng-template #emailFeedback>
      <div class="invalid-feedback">Please provide a valid email.</div>
    </ng-template>
  </div>

  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      [ngClass]="aplicaCssErro('password')"
      id="password"
      formControlName="password"
      placeholder="Password"
    />
    <label for="password" class="form-label">Password</label>
    <div *ngIf="isValid; else passwordFeedback"></div>
    <ng-template #passwordFeedback>
      <div class="invalid-feedback">Please provide a valid password.</div>
    </ng-template>
  </div>
</div>
