@import "../../../../variables";

.container {
  width: 500px;
  height: 448px;
  border: 1px solid brown;
  border-radius: 10px;
  padding: 0;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container {
  width: 80%;
}

.btn-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  margin: 5% 0;
  width: 130px;
}
