<h3 class="header-message welcome">Create new account</h3>
<form class="container" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <h4 class="header-message"></h4>
  <div class="sub-container">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        placeholder="Name"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="Email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        placeholder="Password"
      />
    </div>
    <div class="btn-container">
      <button
        type="button"
        (click)="onCancel()"
        class="btn btn-outline-primary"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
