<h3 class="header-message welcome">Create new account</h3>
<form class="container" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <h4 class="header-message"></h4>
  <div class="sub-container">
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        placeholder="Name"
      />
      <label for="name" class="form-label">Name</label>
    </div>

    <app-email-password formControlName="login"></app-email-password>

    <div class="btn-container">
      <button
        type="button"
        (click)="onCancel()"
        class="btn btn-outline-primary"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
