<h3 class="header-message welcome">Hello, there!</h3>
<form class="container" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <img class="logo" src="../../assets/user-task-logo-cropped.png" />
  <h4 class="header-message">Fazer login</h4>
  <div class="sub-container">
    <app-email-password formControlName="login"></app-email-password>

    <div class="btn-container">
      <button
        type="button"
        (click)="onCreate()"
        class="btn btn-outline-primary"
      >
        New Account
      </button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
