<form class="container" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="sub-container">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
    </div>
    <div class="btn-container">
      <button type="button" id="new-account" class="btn btn-light" (click)="createAccount()">
        New Account
      </button>
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </div>
  </div>
</form>
