<form class="container" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <h4 class="header-message">Profile</h4>
  <div class="sub-container">
    <div class="field">
      <label class="form-label" for="name">Name</label>
      <h4 id="name">{{ user.name }}</h4>
    </div>

    <div class="field">
      <label class="form-label" for="email">Email</label>
      <h4 id="email">{{ user.email }}</h4>
    </div>

    <div class="btn-container">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="onDelete()"
      >
        Delete account
      </button>
      <button type="submit" class="btn btn-primary">Edit profile</button>
    </div>
  </div>
</form>
