@import '../../../../variables';

body {
  padding: $default-size;
  width: 100%;
  max-width: 90%;
}

.create-task {
  margin-bottom: $default-size;
}

.plus-sing {
  vertical-align: text-top;
}

.card {
  width: 20rem;
  min-width: 20rem;
}

#card-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $default-size;
  flex-wrap: wrap;
}

.list {
  list-style: none;
}

.sub-list {
  display: flex;
  justify-content: space-between;
  padding: $default-size 0;
}

.action-icons {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
}

@mixin task-done {
  .card-title,
  .card-subtitle {
    text-decoration: line-through;
  }
}

.card-done {
  @include task-done()
}
