@import "../../../../variables";

.header-message {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.container {
  width: 500px;
  height: 448px;
  border: 1px solid chocolate;
  border-radius: 10px;
  padding: 0;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sub-container {
  width: 80%;
}

.form-floating {
  padding-bottom: $default-padding-bottom;
}

#description {
  height: 100px;
}

.btn-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  margin: 5% 0;
  width: 130px;
}
