<form class="container" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <h4 class="header-message">Create new task</h4>
  <div class="sub-container">
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        placeholder="Name"
        [ngClass]="aplicaCssErro('name')"
      />
      <label for="name">Name</label>
      <div *ngIf="isValid; else nameFeedback"></div>
      <ng-template #nameFeedback>
        <div class="invalid-feedback">Please provide a valid name.</div>
      </ng-template>
    </div>
    <div class="form-floating">
      <textarea
        class="form-control"
        formControlName="description"
        id="description"
        placeholder="Description"
        [ngClass]="aplicaCssErro('description')"
      ></textarea>
      <label for="description">Description</label>
      <div *ngIf="isValid; else descriptionFeedback"></div>
      <ng-template #descriptionFeedback>
        <div class="invalid-feedback">Please provide a valid description.</div>
      </ng-template>
    </div>
    <div class="btn-container">
      <button type="button" class="btn btn-outline-primary" (click)="onClick()">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
