@import "../../../variables";

body{
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

.container {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  max-width: 100%;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar {
  border-bottom: 1px solid white;
  height: 100%;
  width: 100%;
}

#logo {
  height: 63px;
  padding: 0 1rem;
  margin: 0;
  border-bottom: 1px solid $primary;
}

// @media screen and (max-width: 991px) {
//   // #logo {
//   //   height: 57px;
//   // }
// }

@media screen and (max-width: 560px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
}
