@import "../../../variables";

a {
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar {
  border-bottom: 1px solid white;
}

#logo {
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $primary;
}
